@import '../../../../styles/variables.scss';

.root {
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid $lightOrange;
    display: flex;
    position: relative;
    align-items: center;
    &.fullWidth {
        width: 100%;
    }
    input {
        padding: 12px 8px 4px;
    }
    input:focus {
        border-color: $orange;
    }
    input::placeholder {
        color: transparent;
    }
    input:not(:placeholder-shown) + label,
    input:focus + label {
        transform: translate(10px, -1px) scale(0.85);
        color: $orange;
    }
    &.addonBefore label,
    &.addonBefore input:not(:placeholder-shown) + label,
    &.addonBefore input:focus + label{
        transform: translate(8px, 0px) scale(0.85);
    }
}