@import '../../../../styles/variables.scss';

.root {
    min-height: 60px;
    .bar {
        background-color: $black;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 52px;
        position: fixed;
        top: 0.5%;
        left: 0.5%;
        width: 99%;
        z-index: 100;
    }
}