@import '../../styles/variables.scss';

.root {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	border-radius: 5px;
	background-color: transparent;
	color: inherit;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 7px 14px;
	text-decoration: none;
	white-space: nowrap;
	transition: .2s ease-in-out;
	&.disabled {
		opacity: 0.5;
		pointer-events: none;
	}
	&.text {
		border: none;
		&:hover {
			background-color: $textHover;
		}
	}
	&.outlined {
		background-color: transparent;
		border: 2px solid $lightOrange;
		color: $orange;
		&:hover {
			background-color: $outlinedHover;
			border-color: $orange;
			color: $orange;
		}
	}
	&.contained {
		background-color: $orange;
		&:hover {
			background-color: $containedHover;
		}
	}
	&.primary {
		border-color: $orange;
		color: $orange;
	}
}